h1 {
    font-family: Verdana;
    border: thin solid;
    color: rgb(255,0,0);
    text-align: center;
}

h2 {
    font-family: Verdana;
    border: thin solid;
    color: rgb(255,0,0);
    text-align: center;
}

p {
    font-family: courier;
    color: rgb(255, 255, 255);
}

body {
    background-color: black;
}

table {
    font-family: courier;
    color: rgb(255, 255, 255);
    width:'70%';
    overflow: scroll;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 10px;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align: center;
    font-size:large;
    border-bottom: 1px solid rgb(255, 255, 255);
  }

  tr:hover {background-color: rgb(255,0,0);}


.centerimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: '70%';
}

.headerback {
    background-color:black;
    width:'70%';

    position: sticky;
    top: 0;
    z-index: 999;
}

.headerimg {
    background-color:black;
    background-size: cover;
    background-position: center center;
    display: block;
    margin-left: auto;
    margin-right: auto;

    width:'100%';

    position: sticky;
    top: 0;
    z-index: 999;
}

.imprint {
    text-align:center
}

.card_sm {
	font-family: arial;
	padding: 20px;
	flex-basis: 25%;
	flex-wrap: wrap;
}

.container_card_sm {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
	justify-content: center;
}

a:link {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: rgb(255, 0, 0);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: rgb(255, 0, 0);
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }