@font-face {
  font-family: 'SKA';
  /*   src: url('font/feast_of_flesh_bb/FEASFBRG.TTF'); */
  src: url('font/Crimes\ Times\ Six.ttf');
}

h1 {
  font-family: 'SKA', sans-serif;
  border: thin solid;
  color: rgb(255, 0, 0);
  text-align: center;
  font-size: 3em;
}

h2 {
  font-family: 'SKA', sans-serif;
  /* Verdana; */
  border: thin solid;
  color: rgb(255, 0, 0);
  text-align: center;
}

p {
  font-family: courier;
  color: rgb(255, 255, 255);
  font-size: 1.2em;
}

body {
  background-color: black;
}

video {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

/* Header */

.headerback {
  background-color: black;
  max-height: 20%;
  width: auto;
  align-self: auto;

  position: sticky;
  top: 0;
  z-index: 999;

  display: grid;
  /*   place-content: center; */
  grid-template-columns: 1fr 4fr 1fr;
}

.headerimg {
  background-color: black;
  background-size: cover;
  background-position: center center;
  display: block;
  margin-left: auto;
  margin-right: auto;

  align-self: center;
  justify-self: center;

  /* width: 100%; */
  /* max-height: 100%; */
  width: auto;
  max-height: 50%;
  max-width: 100%;
}

.headercontact {
  display: block;
  margin-left: auto;
  margin-right: auto;

  align-self: center;
  justify-self: start;
  background-color: black;
  width: auto;
  max-width: 100%;
  /* max-height: 176px; */
  max-height: 40%;
}

.headersm {
  display: block;
  align-self: center;
  justify-self: end;
  background-color: black;
  width: 30%;
  max-height: 100%;
}

.headersmelement {
  background-color: black;
  width: auto;
  max-width: 100%;
  max-height: 100%;
}

.contact-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  cursor: pointer;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
}

.contact-content_h1 {
  font-family: 'SKA', sans-serif;
  border: thin solid;
  color: black;
  text-align: center;
  font-size: 3em;
}

.contact-content_p {
  font-family: courier;
  color: black;
  font-size: 1.2em;
  display: inline-block;
}

.contact-content_a:link {
  font-family: courier;
  color: black;
  font-size: 1.2em;
  display: inline-block;
}

.contact-content_a:hover {
  color: rgb(255, 0, 0);
  background-color: transparent;
  text-decoration: underline;
}

.contact-content_a:visited {
  color: rgb(238, 156, 160);
  background-color: transparent;
  text-decoration: none;
}

.headergif {
  display: block;
  width: 100%;
  height: auto;
}


/* Social Media */

.card_sm {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: red;
  font-size: 1.2rem;
  margin-right: 10px;
  width: 400px;
  transition: transform 0.5s; /* Übergangseigenschaft für die Vergrößerung */
}

.card_sm.selected {
  transform: scale(1.2); /* Vergrößerung für das ausgewählte Item */
}

.sm_carousel_container {
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  width: 100%; */
  display: relative;
    align-items: center;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.sm_carousel {
  display: flex;
  transition: transform 0.5s;
  justify-content: center; /* Den Inhalt horizontal zentrieren */
    align-items: center; /* Den Inhalt vertikal zentrieren */
}

.nav-button {
  width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    z-index: 2;
}

.prev {
  left: 10px;
  top: 50%; /* Mittig auf der vertikalen Achse positionieren */
    transform: translateY(-50%); /* Für die exakte Zentrierung */
  }

.next {
  right: 15px;
  top: 50%; /* Mittig auf der vertikalen Achse positionieren */
    transform: translateY(-50%); /* Für die exakte Zentrierung */
}

/* About us */

.container {
  position: absolute;
  width: 100vw;
  height: 100vw;
  max-width: 100%;
  max-height: 100%;
}

.hintergrund {
  width: 100%;
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}

.sticker {
  position: absolute;
  top: 50%;
  /* Passen Sie die vertikale Position des Stickers an */
  left: 12%;
  /* Passen Sie die horizontale Position des Stickers an */
  transform: translate(-50%, -50%);
  /* Zentrieren Sie den Sticker */
}


#overlayAlex {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.memberpopup {
  border: 1px solid red;
  background-color: black;
  display: none;
  z-index: 0;
}

/* Gigs */

table {
  font-family: courier;
  color: rgb(255, 255, 255);
  width: 100%;
  overflow: scroll;
  table-layout: fixed;
  margin-left: auto;
  margin-right: auto;
  border-spacing: 10px;
  border-collapse: collapse;
}

th,
td {
  padding: 15px;
  text-align: center;
  font-size: large;
  border-bottom: 1px solid rgb(255, 255, 255);
  height: auto;
  max-height: 1%;
}

.tdinsta {
  /* height: 100px; */
  height: 1em;
}

tr:hover {
  background-color: rgb(255, 0, 0);
}

.tableimg {
  vertical-align: bottom;
  /* max-height: 100px; */
  max-height: 1em;
  width: auto;
  /*   max-width: 10%;
  max-height: 10%; */
}

/* Info */
.infolinks {
  font-family: courier;
  color: rgb(255, 255, 255);
  font-size: 1.2em;
}

/* Imprint */

.imprint {
  text-align: center;
  font-size: 1.0em;
}

/* Sonstiges */

a:link {
  color: rgb(255, 255, 255);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(255, 0, 0);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(255, 0, 0);
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

.typed-out {
  font-family: courier;
  color: rgb(255, 255, 255);
  text-size-adjust: auto;
  overflow: hidden;
  border-right: .15em solid orange;
  animation:
    typing 10s forwards;
  width: 0;
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

@media screen and (max-width: 1200px) {
  p {
    font-size: 1.5em;
  }

  .imprint {
    font-size: 1.2em;
  }
}